@if(showImageSelector()){
<div class="image-selector-container">
    <button type="button" class="btn btn-light" style="position: fixed;top:10px;right: 10px;"
        (click)="hideImageSelector()">X</button>
    <div class="card h-100">
        <div class="card-header">
            <h3 class="card-title">Images</h3>
        </div>
        <div class="card-body">
            <div class="d-flex flex-md-row flex-sm-column flex-wrap">
                <!-- Display images here -->
                <div class="col-8 p-4">
                    @if(isLoading()){
                    <p class="text-info">Loading...</p>
                    }
                    @else{
                    @if(isError()){
                    <p class="text-danger">{{ isError()?.message }}</p>
                    }
                    @else {
                    <div class="d-flex flex-wrap overflow-auto" style="max-height: calc(100vh - 300px);">
                        @for (image of imageResponse(); track image.Id) {
                        <div class="d-flex flex-column align-items-center p-4" role="button" (click)="onSelectImage(image)">
                            <img [src]="image.url" alt="{{ image.title }}"
                                style="width: 100px; height: 100px; object-fit: cover; cursor: pointer;">
                            <span>{{ image.title }}</span>
                        </div>
                        }
                    </div>
                    }
                    }

                </div>
                <!-- upload image form -->
                <div class="col-4 p-4 bg-light">
                    <h5>Upload Image</h5>
                    <form [formGroup]="imageSelectorUploadForm" (ngSubmit)="onSubmit()">
                        <div class="mt-3">
                            <input type="file" class="form-control" (change)="onFileSelected($event)">
                        </div>
                        <div class="mt-3">
                            <input type="text" class="form-control" placeholder="file name" formControlName="name">
                        </div>
                        <div class="mt-3">
                            <input type="text" class="form-control" placeholder="title" formControlName="title">
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-dark">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}